
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

::-webkit-scrollbar{ width: 0; }

html{ scroll-behavior: smooth; }

*{ 

  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'Roboto', sans-serif; 
  user-select: none;
  font-size: 18px;
  transition: 2s;

}

.container{ 
  
  width: 100%; 
  height: 100vh; 
  background-color: #EEE; 
  display: flex;
  justify-content: center;
  align-items: center;

}

.sombra{ 
  
  width: 55%; 
  height: 460px; 
  border-radius: 8px;
  background-color: #0071C1; 
  position: absolute;
  transform: rotate(-15deg);

}

.campos{

  width: 55%; 
  height: 460px; 
  border-radius: 8px;
  background-color: #01B0F1;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

}

.campos input{

  width: 70%;
  height: 50px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  background-color: #eee;
  outline: none;
  text-align: center;

}

input::placeholder{ color: #000; }

.campos button{

  width: 188px;
  height: 50px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #eee;
  cursor: pointer;

}

button:hover{ background-color: #ddd; }

/* Libros */

.container-2{ width: 100%; min-height: 100vh; background-color: #EEE; overflow: hidden; }

.generos{ 

  width: 10%;
  height: 40px;
  margin: 20px auto;
  background-color: #D9D9D9; 
  text-align: center;
  border-radius: 8px; 
  display: flex;
  justify-content: center;
  align-items: center;

}

.libro{

  width: 245px;
  height: 100px;
  background-color: #15C69A;
  padding: 8px;
  border-radius: 8px;
  display: inline-block;
  overflow: hidden;
  margin: 0px 0px 20px 20px;

  box-shadow: 7px 7px 0px 0px rgba(201,208,207,1);

}

.libro p:nth-child(1){ font-weight: bold; text-align: center; }

.libro p:nth-child(2){ 
  
  font-size: 15px; 
  text-align: center; 
  margin-top: 5px;
  font-style: italic;

}

.centro{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.inicio{

  outline: none;
  border: none;
  background-color: #F1C21C;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;

}

.inicio:hover{ background-color: #d8ae18; color: #FFF;}