
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

::-webkit-scrollbar{ width: 0; }

html{ scroll-behavior: smooth; }

*{ 

  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'Roboto', sans-serif; 
  user-select: none;
  font-size: 18px;

}

main{ background-color: #EEE; }

.container{ 
  
  width: 100%; 
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;

}

.sombra{ 
  
  width: 55%; 
  height: 460px; 
  border-radius: 8px;
  background-color: #C39C35; 
  position: absolute;
  transform: rotate(15deg);

}

.campos{

  width: 55%; 
  height: 460px; 
  border-radius: 8px;
  background-color: #F1C21C;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

}

.campos input{

  width: 70%;
  height: 45px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  background-color: #eee;
  outline: none;
  text-align: center;

}

input::placeholder{ color: #000; }

.campos button{

  width: 210px;
  height: 45px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #eee;
  cursor: pointer;
  transition: 0.5s;

}

button:hover{ background-color: #ccc; transition: 0.5s; }

/* lista */

.container-3{ width: 100%; min-height: 100vh; overflow: hidden; }

.message{

  width: 30%;
  margin: 20px auto;
  padding: 10px;
  background-color: #57B3E8;
  text-align: center;
  border-radius: 8px;

}

.listas{ width: 60%; margin: 0px auto;}

.union{ 

  width: 100%;
  margin-top: 15px;
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

}

.cuerpo{

  width: 60%;
  height: 40px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;

}

.sub_cuerpo{

  width: 40%;
  height: 40px;
  background-color: #EFA7A7;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

}

.inicio{

  outline: none;
  border: none;
  background-color: #01B0F1;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition: 0.5s;

}

.inicio:hover{ background-color: #039bd3; color: #FFF; transition: 0.5s; }
